@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#FFFFFF;
    font-family: 'Poppins';
    }

    body{
        background-image:url(./pag3.jfif);
        background-size: cover;
    }


    nav{
        display: flex;
        gap: 40px;
        text-align: center;
        justify-content: center;
        }


    .navMobile {

    display: none;


}

        button{
            background:linear-gradient(#5de0e6,#004aad);
            width: 150px;
            height: 40px;
            border-radius: 50px;
            border: 4px solid black;
            font-size: 15px;
            margin-top: 20px;
            color: black;
            font-weight: bolder;
            }

            button:hover{  text-decoration: none;
                color: #FFFFFF;
                cursor: pointer;
                border: #FFFFFF
                }


            .cursos{
                margin-top: 50px;
                margin-bottom: 82px;
                text-align: center;
                justify-content: center;
            }
h2{
    text-align: center;
    justify-content: center;
    font-size: 35px;
}
.line{
display: inline-flex;
gap: 40px;
margin-top: 40px;


}

.imgCurso{

border: solid 4px black;
height: 180px;
padding: 5px;
background-color: #FFFFFF;
}
img{
    height: 160px;
    width: 155px;
}
.description{
    background-color: #FFFFFF;
    width: 600px;
    height: 180px;
    border: solid 4px black;
    padding: 10px;
    
   

}
p{
    color: black;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
    
}

.buttons{

    margin: auto;
    display: flex;
    gap: 20px;
}

.join{
    background: #00bf63;
    color: black;
    font-weight: bolder;
}
.showAll{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
b{
    color: black;
}


footer {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 30px;
    height: 50px;
    background-color: #202020;

  


}
a{
    margin-top: 4px;
}

.pFooter {

    font-size: 15px;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 19px;
    margin-left: 136px;
    margin-right: 53px;
    font-family: Poppins;
}

.p2Footer {

    font-size: 15px;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 19px;
    margin-left: 136px;
    margin-right: 53px;
    font-family: Poppins;
}

.p3Footer {

    font-size: 15px;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 19px;
    margin-left: 136px;
    margin-right: 53px;
    font-family: Poppins;
}

.bi-linkedin {
    margin-top: 8px;
    display: inline-flex;
    gap: 10px;
     color: rgb(10, 100, 198);

}


.bi-google {
    display: inline-flex;
    margin-top: 8px;
    gap: 10px;
    color: darkred;
}

.bi-github {
    display: inline-flex;
    margin-top: 8px;
    gap: 10px;
     color: #FFFFFF;
}

.bi-browser-edge {
    display: inline-flex;
    margin-top: 8px;
    gap: 10px;
     color: #004aad;
}


.menu-options {
    display: none;
    background-color: #000;
    opacity: 0.97;
    padding: 10px;
    position: absolute;
    right: -20px;
    top: 65px;
    border-radius: 20px;
}

.menu-options li {
    list-style: none;
    margin: 10px 10px 10px -37px;
}

.menu-options li a {
    color: white;
    text-decoration: none;
}



@media screen and (max-width: 700px){
  nav {
        /*display: block;*/
        display: none;
    }

    .navMobile {
        display: grid;
    }

       .list {
        display: grid;
        margin: auto;
        background-color: black;
        width: 150px;
    }

    .menu-options.active {
        display: grid;
        margin-right: 145px;
        z-index: 1;
    }

    .menu-options.active+

    /* Ícone do menu */
    .menu-icon {
        font-size: 50px;
        cursor: pointer;
        color: #FFFFFF
    }


    .bi-list {
        font-size: 50px;
        cursor: pointer;

    }

    .bi-list:hover {
        color: #000;
        background: linear-gradient(#5de0e6, #004aad);
        border-radius: 20px;
        transition: 1s;
    }



    h2{
background-color: black;
opacity: 0.8;
width: 400px;
margin-bottom: 20px;
text-align: center;
margin: auto;
margin-bottom: 20px;
    }


.line{
    margin-top: 50px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    width: 80vw;
}
p{
    font-size: 14px;
}
.buttons{
    margin-bottom: 20px;
}


    footer {
        color: #FFFFFF;
        display: block;
        justify-content: center;
        font-size: 25px;
        gap: 30px;
        height: 77px;
        width: 100vw;
        background-color: #202020;
        margin-top: -13px;
    }

    a {
        margin-left: 60px;
    }

    .pFooter {
        font-size: 12px;
        margin-left: 48px;
        margin-top: -22px;
    }

    .p2Footer {
        font-size: 12px;
        justify-content: center;
        margin-top: -27px;
        margin-left: 189px;
        margin-right: 36px;


    }

    .p3Footer {

        font-size: 12px;
        justify-content: center;
        margin-top: 1px;
        margin-bottom: -4px;
        margin-left: 157px;
        margin-right: 35px;

    }


    
}